<module name="addressing" class="libaxis2_mod_addr.so">
    <inflow>
        <handler name="AddressingInHandler" class="libaxis2_mod_addr.so">
            <order phase="PreDispatch"/>
        </handler>
    </inflow>

    <outflow>
        <handler name="AddressingOutHandler" class="libaxis2_mod_addr.so">
            <order phase="MessageOut"/>
        </handler>
    </outflow>
</module>
